@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
 background-color:#FFF1DC;
 text-align: center;
 font-family: 'Dancing Script', cursive;
}

header {
    font-size:  10px;
    display: inline;
    float: right;
    
    
}

.destanie {
    margin-left: 40%;
    font-size: 30px;
    width: 300px
  
}

.worktitle {
    font-size: 30px;
 margin-bottom: 1px;
}

hr {
   height: 1px;
   color: rgb(141, 98, 41);
    border-top: dotted;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 40px;
}

p {
    color: rgb(145, 98, 37);
    font-style: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

a {
    font-size: 20px;
}

table {
   text-align: center;
}



table, td {
    font-size: 18px;
    font-style: normal;
    /* display: inline;*/  
} 

table, thead {
    font-style: italic;
    display: inline;
 float: inline-end;
}

a:visited {
    text-decoration: none;
    color: #3A98B9;
}

a:hover {
    font-size: 30px;
}

a:link {
    color: #3A98B9;
}

.education {
    font-style: italic;
    margin-bottom: 30px;
}

ul, li {
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 20px;
    
}

.experience , td{
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 20px;

}

.bird {
    padding: 20px 250px;
}

td {
  margin-left: 20px;
}


th {
 float: left;
 margin-right: 30px;
}



