@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
 background-color:#FFF1DC;
 text-align: center;
 font-family: 'Dancing Script', cursive;
}

/* .destanie {
    margin-top: 20px;
    width:400px; 
    margin-left: 450px;
    margin-bottom: 50px;
    
    position:static;
} */


/* .worktitle {
    font-size: 20px;
    font-style: italic;
} */

hr {
   height: 1px;
   color: rgb(182, 135, 74);
    border-top: dotted;
    width: 250px;
}

p {
    color: rgb(182, 135, 74);
    font-style: bold;
    font-size: 20px;
}

a {
    font-size: 20px;
}

table {
   text-align: center;
}



table, td {
    font-size: 18px;
    font-style: normal;
    /* display: inline;*/  
} 

table, thead {
    font-style: italic;
    display: inline;
 float: inline-end;
}

a:visited {
    text-decoration: none;
    color: #3A98B9;
}

a:hover {
    font-size: 30px;
}

a:link {
    color: #3A98B9;
}

.education {
    font-style: italic;
}

ul, li {
    font-size: 18px;
    list-style-type: none;
    
}

.experience , td{
  padding-bottom: 20px;
}

.bird {
    padding: 50px 250px;
}

td {
  margin-left: 20px;
}


th {
 float: left;
 margin-right: 30px;
}



